<div class="node-editor">
  <h1>Node Properties</h1>
  <ul>
    <li class="one-line-property">
      <label>ID:</label>
      {{@model.id}}
    </li>
    <li class="one-line-property">
      <label for="node_ref">Ref:</label>
      <Input @type="text"
        id="node_ref"
        @value={{@model.ref}}
        disabled={{this.disabled}}
        {{on "keyup" this.saveModel}}/>
    </li>
    <li>
      <label for="node_desc">Description:</label><br/>
      <Textarea
        id="node_desc"
        @value={{@model.desc}}
        disabled={{this.disabled}}
        {{on "keyup" this.saveModel}}/>
    </li>
  </ul>
</div>