<div class="tree-builder">
  <svg width="600" height="500"
      {{on "mousemove" this.mouseMove}}
      {{on "mouseup" this.mouseUp}}
      {{on "keydown" this.keyPress}} tabindex="0">
    {{#each @tree.edges as |edge|}}
      <TreeEdge @start={{edge.child}} @finish={{edge.parent}}/>
    {{/each}}
    {{#each @tree.nodes as |node|}}
      <!--<TreeNode @x={{node.x}} @y={{node.y}} @id={{node.id}}
        @nodeType={{node.nodeType}} @ref={{node.ref}}
        @onSelect={{this.select}}/>-->
      <TreeNode @model={{node}} @onSelect={{this.select}}/>
    {{/each}}
  </svg>
  <div>
    Solution: {{this.solution}}<br/>
    Dragged: {{this.dragged}}<br/>
    Selected: {{@selected}}<br/>
    isLinking: {{this.isLinking}}<br/>
  </div>
</div>