{{page-title "Builder"}}

<div class="builder-container">
  <div class="content-left">
    <TreeBuilder @tree={{@model}} @selected={{this.selected}}
      @select={{this.select}} @deselect={{this.deselect}} @solveAll={{this.solveAll}}
      @setFocusProperty={{this.setFocusProperty}}/>
  </div>
  <div class="sidebar">
    <LinkTo @route="builders" class="back-link">â†</LinkTo>
    <NodeEditor @model={{this.selected}} @tree={{@model}} @solveAll={{this.solveAll}}
      @focusProperty={{this.focusProperty}}
      @copySvg={{this.copySvg}} @copyPng={{this.copyPng}}/>
  </div>
</div>