{{page-title "Builder"}}

<div class="content-left">
  <div class="content-left-container">
    <TreeBuilder @tree={{@model}} @selected={{this.selected}}
      @select={{this.select}} @deselect={{this.deselect}}/>
  </div>
</div>
<div class="sidebar">
  <LinkTo @route="builders" class="back-link">â†</LinkTo>
  <NodeEditor @model={{this.selected}} @tree={{@model}} @solveAll={{this.solveAll}}/>
</div>