<div class="page-content">
  <h1>Fault Trees</h1>
  <button type="button" {{on "click" this.createFaultTree}}><i class="bi-plus"/> New Fault Tree</button>
  <UploadButton @doUpload={{this.importFaultTree}}><i class="bi-upload"/> Import</UploadButton>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model as |faultTree|}}
        <tr>
          <td>
            <LinkTo @route="builder" @model={{faultTree.id}}>{{faultTree.id}}</LinkTo>
          </td>
          <td>
            {{faultTree.title}}
          </td>
          <td>
            <button type="button" {{on "click" (fn this.exportFaultTree faultTree)}}>
              <i class="bi-download"/> Export
            </button>            
            <button type="button" {{on "click" (fn this.deleteFaultTree faultTree)}} class="danger">
              <i class="bi-x"/> Delete
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  
  
</div>